body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  background-image: url("Media/fondo.jpg");
}

.contenedor {
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
}

.titulo {
  position: absolute;
  top: 5%;
  left: 35%;
  font-size: 30px;
  justify-content: flex-start;
}

img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.boton {
  padding: 15px 32px;
  margin: auto;
  background: rgb(148, 45, 45);
}

.boton a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  text-align: center;
}

p {
  font-family: "Manjari", sans-serif;
  text-align: left;
  font-size: 20px;
  bottom: 10%;
}

.desc {
  margin-left: 15%;
  margin-top: 70vh;
  display: block;
}
