html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 231, 231);
    justify-content: center;
}


header{
    max-width: 100%;
    max-height: 50em;
    position: relative;
    justify-content: center;
}

section{
    margin-top: 10px;
    max-width: 720px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    float: unset;
}

img, section{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-left: auto;
    margin-right: auto; 
}