html, body{
    margin: 0;
    padding: 0;
    justify-content: center;
    background-image: url('/Media/fondo.jpg');
}


header{
    max-width: 100%;
    max-height: 50em;
    position: relative;
    justify-content: center;
}

section{
    margin-top: 10px;
    max-width: 720px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    float: unset;
}

img, section{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2{
    font-family: 'Lexend Deca', sans-serif;
    padding: 0px 240px;
}

h1{
    color: white;
    background-color: black; 
    background-size: 50px;
    display: inline-flex;
    
}

h2{
    color: black;
    font-size: 100%;
}

p{
    font-family: 'Manjari', sans-serif;
    background-color: #c9bdbd8f;
    text-align: justify;
}